<div class="table-responsive">
    <table class="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Kontaktinformasjon</th>
        </tr>
        </thead>
        <tbody>
        {{#if publicMail}}
        <tr>
            <td><span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:{{publicMail}}" title="Send e-post til {{publicMail}}">{{publicMail}}</a></td>
        </tr>
        {{/if}}
        {{#if mobilePhone}}
        <tr>
            <td><span class="glyphicon glyphicon-phone"></span>&nbsp;<a href="tel:{{mobilePhone}}" title="Ring til mobiltelefonnummer {{mobilePhone}}">{{mobilePhone}}</a></td>
        </tr>
        {{/if}}
        {{#if phone}}
        <tr>
            <td><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;<a href="tel:{{phone}}" title="Ring til telefonnummer {{phone}}">{{phone}}</a></td>
        </tr>
        {{/if}}
        </tbody>
    </table>
</div>