<div class="table-responsive">
    <table data-toggle="table" data-sort-name="parti" data-striped="true" class="table table-striped table-hover">
        <thead>
            <tr>
                <th data-field="parti"  data-sortable="true">Parti</th>
            </tr>
        </thead>
        <tbody>
            {{#each parties}}
                <tr data-title="{{name}}"">
                    <td>
                        <span class="hidden">{{name}}</span><a href="/parties/{{_id}}">{{name}}</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>