<div class="table-responsive">
    <table data-toggle="table" data-sort-name="name" data-striped="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="name">Navn</th>
                <th>Parti</th>
                <th>E-post</th>
                <th>Telefon</th>
            </tr>
        </thead>
        <tbody>
        {{#each members}}
        <tr>
            <td>
                <span class="hidden">{{name}}</span><a href="/politicians/{{recno}}" title="Gå til detaljert oversikt for {{name}}">{{name}}</a>
            </td>
            <td>
                {{{myPoliticalPartyLink}}}
            </td>
            <td>
                {{#if publicMail}}
                <a href="mailto:{{publicMail}}" title="Send e-post til {{publicMail}}">{{publicMail}}</a>
                {{/if}}
            </td>
            <td>
                {{#if mobilePhone}}
                <span class="glyphicon glyphicon-phone"></span>
                <a href="tel:{{mobilePhone}}" title="Ring til mobiltelefonnummeret {{mobilePhone}}">{{mobilePhone}}</a>&nbsp;
                {{/if}}
                {{#if phone}}
                <span class="glyphicon glyphicon-phone-alt"></span>
                <a href="tel:{{phone}}" title="Ring til telefonnummeret {{phone}}">{{phone}}</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>