<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Politikere og utvalg - Telemark fylkeskommune</title>
</head>
<body>
<div>
    <a href="/">Forsiden</a>
    <a href="/parties">Partier</a>
    <a href="/committees">Utvalg</a>
    <a href="/kontakt">Kontaktinformasjon</a>
    <a href="/personvern">Personvern</a>
</div>
<div>
    <form action="/search">
        <input type="text" name="query" value="{{query}}"/>
        <button type="submit">Søk</button>
    </form>
</div>
{{{content}}}
</body>
</html>